/* 
Exercise 1: CSS Methods
*/

div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/* 
Exercise 2: CSS Class and ID Selectors
*/

.odd {
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.font-size-24 {
    font-size: 24px;
}

#cids-two {
    color: blue;
    font-size: 36px;
}

#cids-four {
    background-color: lightgreen;
    font-weight: bold;
}

/* 
Exercise 3: Grouping Selectors
*/

.grouping-button-one, .grouping-button-two {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.grouping-button-one {
    background-color: black;
    color: white;
}

.grouping-button-two {
    background-color: yellow;
}

/* 
Exercise 4: Chaining Selectors
*/

